nav{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
#main-navbar li a{
    text-decoration: none;
    color: black;
}
#main-navbar li a:hover{
    color: aqua;
}
nav button{
    display: none;
}
main h2{
    color: #4f4f4f;
}
.box{
    padding-left: 20px;
}

/* mobile view */

@media only screen and (max-width:600px){
    #title{
        font-size: 25px;
    
    }
    nav{
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    nav button{
        display: block;
        border: none;
        background-color: transparent;

    }
    nav button img{
        width: 15px;
    }
    #nav-ul{
        display: none;
    }
    section hr{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #card{
        width: 90%;
        margin-left: 16px; 
    }
    #card-content{
        width: 300px;
        padding: 0px;
        margin: 0px auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        background:#fff;
    }
   
    #card-content button{
        width: 80%;
        padding: 14px;
        font-size: 18px;
    }
    #card img{
        width: 300px;
        margin: 0px auto;
        height: 220px;
    }
}

/* Desktop view */

@media only screen and (min-width:600px){
    #main-div{
        padding-right:500px ;
    }
    section hr{
        width: 83%;
        margin-left: auto;
        margin-right: auto;
    }
    #card img{
        width: 260px;
    }
    #card-content{
        margin: 10px;
    }
    #card{
        width: 60%;
        display: flex;
        margin-left: 112px;
        flex-direction: row;
    }
    #nav-ul a{
        color: black;
        text-decoration: none;
        list-style: none;
        margin: 0px 30px;
        font-weight: 650;
    }
    #nav-ul a:hover{
        color: blue;
    }
  
}
